In [2]:
import os
import os.path
import rando

from dotenv import load_dotenv

from flask import Flask
from flask import jsonify
from flask import request
from flask import url_for
from flask import render_template

from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import text
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import and_

import pymysql
import json
from decimal import *

from flask.json import JSONEncoder
from datetime import date

from random import random, randint
import pandas as pd



pymysql.install_as_MySQLdb()
load_dotenv()

True

In [3]:
username = os.getenv("DATABASE_USERNAME")
password = os.getenv("DATABASE_PASSWORD")
host = os.getenv("DATABASE_HOST")
port = os.getenv("DATABASE_PORT")
database = os.getenv("DATABASE_NAME")

In [4]:
connection = f"mysql://{username}:{password}@{host}:{port}/{database}"

Base = automap_base()
engine = create_engine(connection, pool_recycle=1)
conn = engine.connect()

C:\Users\Jeff\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, which will be replaced by UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

In [5]:
Base.prepare(engine, reflect=True)
StockData = Base.classes.sp5data
session = Session(bind=engine)

In [6]:
# session = Session(bind=engine)
# results = session.query(StockData.date, StockData.adj_close).filter_by(stock="DIS")

In [7]:
# result.date.strftime("%Y-%m-%d")
# SELECT DISTINCT stock
# FROM sp5data
# WHERE `date` BETWEEN '2015-10-01' AND '2018-09-28'
# AND adj_close IS NOT NULL;

# status_counts = db.session.query(BarBaz.status, db.func.count(BarBaz.id).label('count_id')
# ).filter(db.not_(db.or_(BarBaz.name == 'Foo', BarBaz.name == 'Bar'))
# ).group_by(BarBaz.status
# ).all()

In [8]:
# session.query(StockData.stock).filter(and_(StockData.date.between('2015-10-01', '2018-09-28'), StockData.adj_close.isnot(None))).distinct()
# session.query(q.distinct())

In [9]:
# q = session.query(StockData.stock).filter(StockData.date.between('2015-10-01', '2018-09-28'), StockData.adj_close.isnot(None))
# session.query(q.distinct().first())

In [10]:
# # import str
# rand_stock_str = str(rand_stock)
# # print(rand_stock_str)
# a = rand_stock_str[rand_stock_str.find("(")+1:rand_stock_str.find(",")]
# print(a)

In [11]:
# for line in lines:
# line = "'APA,'"

# line = line[1:-2]
# print(line)

In [12]:
stk_list = []
for stk in session.query(StockData.stock).filter(and_(StockData.date.between('2015-09-30', '2018-09-28'), StockData.adj_close.isnot(None))).distinct():
#     stk_clean = str(stk)[str(stk).find("(")+1:str(stk).find(",")]
    stk_clean = str(stk)[2:-3]
    stk_list.append(stk_clean)

# stk_list

In [13]:
# len(stk_list)
# stk_list[0]

In [28]:
rand_stock_num = randint(0, len(stk_list)-1)
# print(rand_stock)
rand_stock = stk_list[rand_stock_num]
print(rand_stock)
# print('AKAM')

M

In [29]:
# sp500_stocks = session.query(StockData.stock).group_by(.location).count()
# print(locations)

In [30]:
# for i in range(10):
#     i = random() < 0.5
#     if i == False:
#         print(0)
#     else:
#         print(1)

In [31]:
# stock_1 = session.query(StockData.date, StockData.adj_close).filter(StockData.stock == 'DIS', StockData.date.between('2015-10-01', '2018-09-28'))

In [32]:
stk_rand_df = pd.DataFrame(columns=['stock','date','adj_close','comp_earning','adj_comp_earning'])
stk_rand_stock_list =[]
stk_rand_date_list =[]
stk_rand_adj_close_list =[]
stk_rand_comp_earning_list =[]

In [33]:
# rand_stock = 'EXR'

In [34]:
# kwargs = {'stock': rand_stock}
# for stk_rand in session.query(StockData.date,StockData.stock,StockData.adj_close).filter_by(**kwargs).filter(StockData.date.between('2015-09-30', '2018-09-28')):
#     stk_rand_date_list.append(stk_rand.date)
# stk_rand_date_list

In [35]:
# rand_stock

In [36]:
prev_stock = 0
curr_comp_earn = 1
prev_adj_close = 0
kwargs = {'stock': rand_stock}
for stk_rand in session.query(StockData.date,StockData.stock,StockData.adj_close).filter_by(**kwargs).filter(StockData.date.between('2015-09-30', '2018-09-28')):
    stk_rand_stock_list.append(stk_rand.stock)
    stk_rand_date_list.append(stk_rand.date)
    stk_rand_adj_close_list.append(stk_rand.adj_close)
    curr_stock = random() < 0.5
    if curr_stock == False:
        curr_stock= 0
    else:
        curr_stock= 1
    sellbuy_scen = random() < 0.5
    if sellbuy_scen == False:
        sellbuy_scen= 0
    else:
        sellbuy_scen= 1
#     print(f'date:{stk_rand.date}')        
#     print(f'current stock value:{curr_stock}')
#     print(f'previous stock value:{prev_stock}')
#     print(f'sell/buy scenario stock value:{sellbuy_scen}') 
    
    if prev_adj_close == 0:
        prev_adj_close = stk_rand.adj_close
    
    curr_adj_close = stk_rand.adj_close
    
#     print(f'previous adj close:{prev_adj_close}')
#     print(f'curr adj close:{curr_adj_close}')
    
    if prev_stock == 0 and curr_stock == 0:
#         print(f'Current Compound Earnings:{curr_comp_earn}')            
        stk_rand_comp_earning_list.append(curr_comp_earn)
        prev_adj_close=curr_adj_close
        continue
    if prev_stock == 0 and curr_stock == 1:
        prev_stock = 1
#         print(f'Current Compound Earnings:{curr_comp_earn}')            
        stk_rand_comp_earning_list.append(curr_comp_earn)   
        prev_adj_close=curr_adj_close        
        continue
    if prev_stock == 1 and curr_stock == 1:
#         print(f'Current Compound Earnings:{curr_comp_earn}')            
        stk_rand_comp_earning_list.append(curr_comp_earn) 
        prev_adj_close=curr_adj_close        
        continue
    if prev_stock == 1 and curr_stock == 0:
        if sellbuy_scen == 0:
            curr_comp_earn=(((curr_adj_close-prev_adj_close)/prev_adj_close)+1)*curr_comp_earn
            prev_stock = 0
        else:
            curr_comp_earn=(((curr_adj_close-prev_adj_close)/prev_adj_close)+1)*curr_comp_earn
        
#     print(f'Current Compound Earnings:{curr_comp_earn}')            
    stk_rand_comp_earning_list.append(curr_comp_earn)
    prev_adj_close=curr_adj_close
        
print(f'Final Compound Earnings:{curr_comp_earn}')

Final Compound Earnings:0.8620785761346861166182177443

In [37]:
stk_rand_df['stock']=stk_rand_stock_list
stk_rand_df['date']=stk_rand_date_list
stk_rand_df['adj_close']=stk_rand_adj_close_list
stk_rand_df['comp_earning']=stk_rand_comp_earning_list

In [49]:
stk_rand_adj_comp_earning_list = [value-1 for value in stk_rand_comp_earning_list]
# for value in range(len(stk_rand_comp_earning_list)):
#     curr_value = stk_rand_comp_earning_list[value]-1
#     stk_rand_adj_comp_earning_list.append(curr_value)

In [50]:
len(stk_rand_adj_comp_earning_list)

756

In [38]:
# print(len(stk_rand_stock_list))
# print(len(stk_rand_date_list))
# print(len(stk_rand_adj_close_list))
# print(len(stk_rand_comp_earning_list))

In [40]:
stk_rand_df

,stock,date,adj_close,comp_earning,adj_comp_earning
0,M,2015-09-30,44.4292924890,1,NaN
1,M,2015-10-01,44.1955452370,0.9947388932187503959331842693,NaN
2,M,2015-10-02,44.8794723820,1.010132501954908634241789805,NaN
3,M,2015-10-05,44.7669274080,1.007599376449300720711280917,NaN
4,M,2015-10-06,44.4898936280,1.007599376449300720711280917,NaN
5,M,2015-10-07,44.2648036820,1.007599376449300720711280917,NaN
6,M,2015-10-08,44.5591520730,1.007599376449300720711280917,NaN
7,M,2015-10-09,44.1522587090,1.007599376449300720711280917,NaN
8,M,2015-10-12,43.5981911480,0.9949549921007241113940581014,NaN
9,M,2015-10-13,43.5116180920,0.9949549921007241113940581014,NaN
10,M,2015-10-14,43.0874101160,0.9852548737893863606630740489,NaN
11,M,2015-10-15,43.6847642050,0.9852548737893863606630740489,NaN
12,M,2015-10-16,43.6934215100,0.9852548737893863606630740489,NaN
13,M,2015-10-19,43.9011968450,0.9852548737893863606630740489,NaN
14,M,2015-10-20,43.8319384000,0.9837005375664299280309073056,NaN
15,M,2015-10-21,43.5722192320,0.9837005375664299280309073056,NaN
16,M,2015-10-22,43.1826404780,0.9749052814034660786620473564,NaN
17,M,2015-10-23,41.5290951030,0.9749052814034660786620473564,NaN
18,M,2015-10-26,42.1264491910,0.9749052814034660786620473564,NaN
19,M,2015-10-27,42.4640841110,0.9749052814034660786620473564,NaN
20,M,2015-10-28,43.1739831730,0.9749052814034660786620473564,NaN
21,M,2015-10-29,43.0268089770,0.9715819628115313304750281476,NaN
22,M,2015-10-30,44.1349440970,0.9966045968517529139813672162,NaN
23,M,2015-11-02,44.4466071000,0.9966045968517529139813672162,NaN
24,M,2015-11-03,44.3080902100,0.9934987001743075706968145353,NaN
25,M,2015-11-04,43.6674495930,0.9934987001743075706968145353,NaN
26,M,2015-11-05,43.6761068990,0.9936956666181502172589929105,NaN
27,M,2015-11-06,42.3342245270,0.9936956666181502172589929105,NaN
28,M,2015-11-09,40.0313812290,0.9936956666181502172589929105,NaN
29,M,2015-11-10,40.7066510680,0.9936956666181502172589929105,NaN
...,...,...,...,...,...
726,M,2018-08-17,35.6534145500,0.9185713888739368677141358900,NaN
727,M,2018-08-20,37.8106291960,0.9185713888739368677141358900,NaN
728,M,2018-08-21,37.8403156360,0.9185713888739368677141358900,NaN
729,M,2018-08-22,37.1575275140,0.9185713888739368677141358900,NaN
730,M,2018-08-23,37.7314653560,0.9185713888739368677141358900,NaN
731,M,2018-08-24,36.1283975910,0.8795447523661414443320215259,NaN
732,M,2018-08-27,35.9008015500,0.8795447523661414443320215259,NaN
733,M,2018-08-28,35.9601744310,0.8795447523661414443320215259,NaN
734,M,2018-08-29,35.8315331900,0.8795447523661414443320215259,NaN
735,M,2018-08-30,35.5940416700,0.8737151268505423858104230763,NaN
736,M,2018-08-31,36.1679795110,0.8878033885377867786608240761,NaN
737,M,2018-09-04,36.0096518310,0.8878033885377867786608240761,NaN
738,M,2018-09-05,35.4258185090,0.8734092143301191172624561494,NaN
739,M,2018-09-06,34.9904173880,0.8626745759500785436819406083,NaN
740,M,2018-09-07,35.1388495880,0.8663341117530510363178008613,NaN
741,M,2018-09-10,35.6039371500,0.8778006573183407036074805852,NaN
742,M,2018-09-11,36.0096518310,0.8778006573183407036074805852,NaN
743,M,2018-09-12,36.0096518310,0.8778006573183407036074805852,NaN
744,M,2018-09-13,35.7400000000,0.8778006573183407036074805852,NaN
745,M,2018-09-14,36.2700000000,0.8908178466965925383280168106,NaN
746,M,2018-09-17,35.1600000000,0.8908178466965925383280168106,NaN
747,M,2018-09-18,35.5300000000,0.8908178466965925383280168106,NaN
748,M,2018-09-19,35.5500000000,0.8913192921492784896583449932,NaN
749,M,2018-09-20,35.1800000000,0.8913192921492784896583449932,NaN
750,M,2018-09-21,35.6900000000,0.8913192921492784896583449932,NaN
751,M,2018-09-24,34.7500000000,0.8678438050486810735675956434,NaN
752,M,2018-09-25,34.3800000000,0.8586034537431267714893219632,NaN
753,M,2018-09-26,34.8900000000,0.8586034537431267714893219632,NaN
754,M,2018-09-27,34.5900000000,0.8586034537431267714893219632,NaN
755,M,2018-09-28,34.7300000000,0.8620785761346861166182177443,NaN

In [41]:
stk_rand_df['adj_comp_earning']=stk_rand_df.comp_earning-1

In [42]:
stk_rand_df.tail(10)

,stock,date,adj_close,comp_earning,adj_comp_earning
746,M,2018-09-17,35.1600000000,0.8908178466965925383280168106,-0.1091821533034074616719831894
747,M,2018-09-18,35.5300000000,0.8908178466965925383280168106,-0.1091821533034074616719831894
748,M,2018-09-19,35.5500000000,0.8913192921492784896583449932,-0.1086807078507215103416550068
749,M,2018-09-20,35.1800000000,0.8913192921492784896583449932,-0.1086807078507215103416550068
750,M,2018-09-21,35.6900000000,0.8913192921492784896583449932,-0.1086807078507215103416550068
751,M,2018-09-24,34.7500000000,0.8678438050486810735675956434,-0.1321561949513189264324043566
752,M,2018-09-25,34.3800000000,0.8586034537431267714893219632,-0.1413965462568732285106780368
753,M,2018-09-26,34.8900000000,0.8586034537431267714893219632,-0.1413965462568732285106780368
754,M,2018-09-27,34.5900000000,0.8586034537431267714893219632,-0.1413965462568732285106780368
755,M,2018-09-28,34.7300000000,0.8620785761346861166182177443,-0.1379214238653138833817822557